/* PC */
@media (min-width: 1024px) {
    #header .menu-btn {
        display: none;
    }
    #header {
        overflow: visible;
    }
}

/* Tablet */
@media (min-width: 720px) and (max-width: 1023px) {
    #header .menu-btn {
        display: none;
    }
    #header {
        overflow: visible;
    }
}

/* Mobile */
@media (max-width: 740px) {
    #nav {
        display: block;
        width: 83%;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }
    #header {
        width: 100%;
    }
    #header .search-btn {
        display: none;
    }
    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }
}